@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif ;
    background-color: rgb(247, 234, 214);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.board {
    background-color: rgb(221, 255, 96);
    border: ridge grey 10px;
}

.game {
    margin-top: 0px;
}

h1 {
    margin: 7px;
}

img {
    width: 275px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.answer {
    background-color: rgb(224, 104, 198);
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin-bottom: 0;
}

.answer:active {
    transform: scale(0.98);
}

.msgCorrect {
    display: none;
    font-size: 26px;
}

button {
    display: none;
    background-color: rgb(224, 104, 198);
    position: relative;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 7px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:active {
    transform: scale(0.98);
}





